.upHero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upHero h1 {
    width: 700px;
    font-family: 'Monument Extended', sans-serif;
    font-stretch:ultra-expanded;
    font-size: 40px;
    font-weight: 800;
    line-height: 42px;
    letter-spacing: 0em;
    text-align: center;
}

.upHero h5{
    /* border: 2px solid red; */
    width: 590px;
    color:#616161;
    font-size: 14px;
    margin-top: 40px;
    display: inline-block;
    text-align: center;
    line-height: 1.6;
    font-family: 'Red Hat Display', sans-serif;
}

.upHero h6 {
    color: #616161;
    margin-top: 30px;
    font-size: 11px;
    font-family: 'Red Hat Display', sans-serif;
}

.form {
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    width: 500px;
}

.form input {
    min-width: 350px;
    border-radius: 4px;
    padding: 15px;
    background: #EEEEEE;
    font-size: 15px;
    border: none;
    /* color: red  */
} 

.design {
    background-color: #0E0E0E;
    background-image: linear-gradient(45deg, #FF0F7B, #F89B29);
    background-size: 100%;
    background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.development {
    background-color: #0E0E0E;
    background-image: linear-gradient(45deg, #EF745C, #34073D);
    background-size: 100%;
    background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.downHero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.downHero h4 {
    font-size: 11px;
    font-weight: 800;
    font-family: 'Red Hat Display', sans-serif;
}

.downHero h2 {
    font-size: 20px;
    font-weight: 800;
    line-height: 42px;
    font-family: 'Monument Extended', sans-serif;
}

.cards {
    /* border: 2px solid red; */
    width: 65%;
    height: 255px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    margin-top: 15px;
   
}

.trackCard {
    /* border: 2px solid peru; */
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.trackImg1 {
    height: 150px;
    width: 400px;
    background-image: url(/src/assets/images/product.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.trackImg2 {
    height: 150px;
    width: 400px;
    background-image: url(/src/assets/images/dev.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.trackCard h3 {
    font-size: 12px;
    font-weight: 900;
    color: #0E0E0E;
    margin-left: 15px;
    font-family: 'Monument Extended', sans-serif;    
}

.trackCard h6{
    /* border: 1px solid red; */
    width: 300px;
    font-size: 7px;
    color: #616161;
    margin-top: 10px;
    margin-left: 12px;
    font-family: 'Red Hat Display', sans-serif;

}

.slide h4 {
    /* color: red; */
    margin-top: 18px;
    color: #0088A6;
    margin-left: 15px;
    font-weight: bolder;
    font-size: 8px;
    font-family: 'Red Hat Display', sans-serif;

}
/* //////////////////////////Facilitator//////////// */

@media only screen and (max-width: 932px) {
    .upHero h1 {
        /* border: 2px solid red; */
        width: 700px;
        font-size: 25px;
        font-weight: 800;
        line-height: 32px; 
        text-align: center;
        margin-top: 20px;
    }

    .upHero h5 {
        /* color: red; */
        font-size: 12px;
    }

    .form {
        /* border: 1px  solid green; */
        min-width: 350px;
    }
    .form input {
        min-width: 360px;
        border-radius: 4px;
        padding: 15px;
        background: #EEEEEE;
        font-size: 12px;
        border: none;
        /* color: blue;  */
    } 

    .form button {
        /* border: 2px solid greenyellow; */
    }

    .cards {
        /* border: 2px solid red; */
        width: 100%;
        height: 290px;
    }

    .trackImg1 {
        width: 360px;
    }

    .trackImg2 {
        width: 360px;
    }

    .trackCard h3 {
        font-size: 15px;
        margin-top: 25px;
    }

    .trackCard h6 {
        font-size: 8px;
    }

    .slide h4 {
        font-size: 12px;
        font-weight: 2000;
    }

    @media only screen and (max-width: 425px){
        .upHero h1 {
            border: 2px solid red;
            width: 420px;
            font-size: 28px;
            font-weight: 800;
            line-height: 32px; 
            /* text-align: center; */
            margin-top: 20px;
        }

        .upHero h5 {
            width: 300px;
            /* color: red; */
            font-size: 12px;
        }

        .form {
            /* display: flex; */
            border: 1px solid rgba(71, 12, 12, 0.801);
            /* min-width: 50px; */
        }
    
    
    }
}