.navContainer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(17, 16, 20, 0.08);
}

.navContainer .mobileBtn {
  background: inherit;
  border: none;
  display: block;
}
.navContainer .webNavLinks {
  display: none;
  align-items: center;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .navContainer {
    padding: 20px 80px;
  }
  .navContainer .mobileBtn {
    display: none;
  }
  .navContainer .webNavLinks {
    display: flex;
  }
}
