.navContainer {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid blu e;
}
.CustomButton {
  background-color: #0088a6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: 600;
  color: #FAFAFA;
  border: none;
  min-height: 40px;
  cursor: pointer;
  min-width: 100px;
  font-size: 12px;
  letter-spacing: 1.5px;
  font-family: 'Red Hat Display', sans-serif;

}

/* /////////////////////////Nav////////////////// */

ul {
  display:flex;
  list-style: none;
  flex-flow: row nowrap;
  margin-left: 350px;
  font-size: 13px;
  color: #0E0E0E;
  font-weight: 500;
}

li{
  padding: 18px 15px;
  cursor: pointer;
}

ul :hover {
  color: #0088A6;
}

.dropdown {
  font-size: 300px;
  color: red;
}

/* ////////////////////////pre-footer//////////////// */
 
.preFoot {
  width: 100%;
  margin-top: 50px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0088A6;
  
}

.text {
  width: 500px;
  height: 210px;
  margin-block: 15px;
  margin-left: 45px;
}

.text h3 {
  color: #FAFAFA;
  font-size: 15px;
  font-weight: 550;
  /* letter-spacing: -1px; */
  font-family: 'Monument Extended', sans-serif;

}


.text h4 {
  font-size: 9px;
  margin-top: 15px;
  color: #E0E0E0;
  line-height: 12px;
  font-weight: 500;
  /* opacity: 0.8; */
  font-family: 'Red Hat Display', sans-serif;
  /* letter-spacing: -5px; */
}

.preFoot img {
  width: 500px;
}

/* .......................// Footer //.................... */

.footer {
  background-color: #000000;
  width: 100%;
  height: 60%;
  margin-top: -33px;
  position: absolute;
  flex-direction: column;
  font-family: 'Red Hat Display', sans-serif;
  
}

.footerContent {
  width: 70% ;
  display: flex;
  justify-content: space-between;
  margin: 20px ;
  padding: 50px 100px ; 
  /* border: 2px solid rgb(47, 179, 91); */
  color:#EEEEEE;
  font-size: 10px;
}

.footerBtn {
  background-color: #0088a6;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
  border: none;
  min-height: 25px;
  min-width: 145px;
  font-size: 9px;
  margin-bottom: 25px;
  font-family: 'Red Hat Display', sans-serif;
}

.socialMedia img {
  padding-inline-end: 5px;
  width: 13px;
  cursor: pointer;
}

.copywrite {
  display: flex;
  align-items: center;
} 

.copywrite p {
  line-height: 50px;
  font-size: 7.5px;

}

.top {
  color:#EEEEEE;
  font-size: 12px;
  margin-bottom: 25px;
  font-weight: 500;
  cursor: pointer;
}

.firstContent h6{
  margin-block-start: 8px;
}

.secondContent p {
  margin-block-start: 8px;
  font-size: 8px;

}
.socialMedia {
  margin-top: 8px;
}

.thirdContent p{
  margin-block-start: 8px;
  font-size: 8px;
}

.fouthContent p {
  margin-block-start: 8px;
  font-size: 8px;
}

.fifthContent p{
  margin-block-start: 8px;
  font-size: 8px;
  
  
}