.navContainer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoContainer {
  background-color: #0088a6;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: #fff;
}
